html { 
  background: url(https://klcanning.files.wordpress.com/2011/09/img_56533.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1{
  font-family:Verdana, sans-serif;
  color: gray;
  border-top-style: groove;
  border-bottom-style:double;
  border-width: 3px 3px 5px 3px;
  display:inline;
}
#links{
  padding:5px;
}
a {
  font-family:sans-serif;
  color:black;
  text-decoration:none;
}
a:visited{
  color:gray;
}
a:hover{
  text-decoration:underline;
}



