html { 
  background: url(https://klcanning.files.wordpress.com/2011/09/img_56533.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1{
  font-family:Verdana, sans-serif;
  color: gray;
  border: 2px solid black;
  border-width:2px 2px 4px 2px;
}



